* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-background-kelem {
    background: #054141;
}

.bg-background-kelem-linear {
    background: linear-gradient(97.17deg, #054141 0%, #054141 0.01%, #005C5C 98.08%);
}

.container-login {
    background: #fff;
    display: flex;
    justify-content: center;
    max-width: 90%;
    min-width: 20%;
    padding: 50px 30px;
}

.image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#email,
#password {
    width: 280px;
    height: 25px;
    padding: 15px 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.background-top-banner {
    background-color: #054141;
}

#submit {
    width: 280px;
    padding: 8px;
    background-color: #054141;
    color: #fff;
    margin-bottom: 10px;
}

.container-error {
    width: 280px;
}

.aguardando {
    background: #061E1E;
}